.memberimformationtop{
  margin-left:50%;
  margin-right:10%;
  width: 15%;
  height: 80%;
  float:right;
  border:1px black solid;
}
.header{
  background-color: green;
  margin:0;
  padding:10px;
  font-size:60pt;
  text-align: center;
}
.newheader{
  margin:0;
  padding:10px;
  font-size:45pt;
  text-align: center;
  border:1px solid black;
}
.loginhead{
  background-color:orange;
  margin:0;
  padding:10px;
  font-size:45pt;
  text-align: center;
}
.boxlightblue{
  margin:auto;
  padding:3% 5%;
  width:30%;
  background-color:lightblue;
}
.main{
  margin:0;
  font-size:30pt;
  padding-left:400px;
}
.buttonlogin{
  display:inline-block;
  text-align: center;
  font-size:20pt;
  background-color:#00ffff;
}
.buttonnewmember{
  display:inline-block;
  text-align: center;
  font-size:20pt;
  background-color:orange;
  padding:400px;
}
.memberimformation{
  width: 80%;
  height: 80%;
  margin-right:3%;
  border:1px black solid;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}